@model List<mathsociety.Models.Announcement>

@{
    ViewBag.Title = "Announcements";
    var succesMessage = TempData["SuccessMessage"]?.ToString();
    var errorMessage = TempData["ErrorMessage"]?.ToString();
}

<h3>@ViewData["Title"]</h3>

<hr />
@if (!string.IsNullOrWhiteSpace(@succesMessage))
{
    <div class="alert alert-success">
        <strong>Success!</strong> @succesMessage
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
}
else if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error!</strong> @errorMessage
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
}
<form>
    <button asp-action="Create" asp-controller="Announcement" class="btn btn-primary">Create New</button>
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Content)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                            <div class ="btn-group btn-group-sm">
                                <a asp-action="Edit" asp-route-id="@item.AnnouncementID" class="btn btn-default">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.AnnouncementID" class="btn btn-default">Delete</a>
                            </div>
                            
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">No announcements to display</td>
                </tr>
            }
        </tbody>
    </table>
</form>